body {
  background-color: #eee;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* justify-content: center; */
}


.memory-card {
  width: 100px;
  height: 140px;
  perspective: 1000px;
  cursor: pointer;
}

.memory-card .card-inner {
  border: 3px solid #000;
  border-radius: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s;
}

.memory-card .card-inner.is-picked {
  transform: rotateY(180deg);
  transition: transform 1s;
}

/* .memory-card .card-inner.is-pending-input.is-picked {
  transform: rotateY(180deg);
  transition: transform 0.3s;
} */

.memory-card .card-front,
.memory-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.memory-card .card-back {
  background-color: #3498db;
  transform: rotateY(180deg);
  
}

.memory-card .card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #fff;
  
}